In [2]:
# STEP 1: Import required libraries
import pandas as pd
import os

In [3]:
# STEP 2: Define the path to the data
data_path = '../data/archive'

In [4]:
# STEP 3: List all CSV files
files = os.listdir(data_path)
print("Available files:\n", files)

Available files:
 ['circuits.csv', 'status.csv', 'lap_times.csv', 'sprint_results.csv', 'drivers.csv', 'races.csv', 'constructors.csv', 'constructor_standings.csv', 'qualifying.csv', 'driver_standings.csv', 'constructor_results.csv', 'pit_stops.csv', 'seasons.csv', 'results.csv']

In [5]:
# Load the races data
races = pd.read_csv('../data/archive/races.csv')
print("Shape of races:", races.shape)
races.head()

Shape of races: (1125, 18)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [7]:
# Load the results data
results = pd.read_csv(os.path.join(data_path, 'results.csv'))
print("Shape of results:", results.shape)
results.head()

Shape of results: (26759, 18)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
# Load more key datasets
drivers = pd.read_csv(os.path.join(data_path, 'drivers.csv'))
constructors = pd.read_csv(os.path.join(data_path, 'constructors.csv'))
driver_standings = pd.read_csv(os.path.join(data_path, 'driver_standings.csv'))

# Quick preview
print("Drivers:\n", drivers.head())
print("\nConstructors:\n", constructors.head())
print("\nDriver Standings:\n", driver_standings.head())

Drivers:
    driverId   driverRef number code  forename     surname         dob  \
0         1    hamilton     44  HAM     Lewis    Hamilton  1985-01-07
1         2    heidfeld     \N  HEI      Nick    Heidfeld  1977-05-10
2         3     rosberg      6  ROS      Nico     Rosberg  1985-06-27
3         4      alonso     14  ALO  Fernando      Alonso  1981-07-29
4         5  kovalainen     \N  KOV    Heikki  Kovalainen  1981-10-19

  nationality                                             url
0     British     http://en.wikipedia.org/wiki/Lewis_Hamilton
1      German      http://en.wikipedia.org/wiki/Nick_Heidfeld
2      German       http://en.wikipedia.org/wiki/Nico_Rosberg
3     Spanish    http://en.wikipedia.org/wiki/Fernando_Alonso
4     Finnish  http://en.wikipedia.org/wiki/Heikki_Kovalainen

Constructors:
    constructorId constructorRef        name nationality  \
0              1        mclaren     McLaren     British
1              2     bmw_sauber  BMW Sauber      German
2              3       williams    Williams     British
3              4        renault     Renault      French
4              5     toro_rosso  Toro Rosso     Italian

                                                 url
0               http://en.wikipedia.org/wiki/McLaren
1            http://en.wikipedia.org/wiki/BMW_Sauber
2  http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3  http://en.wikipedia.org/wiki/Renault_in_Formul...
4   http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

Driver Standings:
    driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [9]:
# Merge races + results
merged = results.merge(races[['raceId', 'year', 'name']], on='raceId', how='left')

# Merge with drivers
merged = merged.merge(drivers[['driverId', 'forename', 'surname']], on='driverId', how='left')

# Merge with constructors
merged = merged.merge(constructors[['constructorId', 'name']], on='constructorId', how='left', suffixes=('', '_constructor'))

# View the final merged table
merged[['year', 'name', 'forename', 'surname', 'name_constructor', 'position', 'points']].head(10)

,year,name,forename,surname,name_constructor,position,points
0,2008,Australian Grand Prix,Lewis,Hamilton,McLaren,1,10.0
1,2008,Australian Grand Prix,Nick,Heidfeld,BMW Sauber,2,8.0
2,2008,Australian Grand Prix,Nico,Rosberg,Williams,3,6.0
3,2008,Australian Grand Prix,Fernando,Alonso,Renault,4,5.0
4,2008,Australian Grand Prix,Heikki,Kovalainen,McLaren,5,4.0
5,2008,Australian Grand Prix,Kazuki,Nakajima,Williams,6,3.0
6,2008,Australian Grand Prix,Sébastien,Bourdais,Toro Rosso,7,2.0
7,2008,Australian Grand Prix,Kimi,Räikkönen,Ferrari,8,1.0
8,2008,Australian Grand Prix,Robert,Kubica,BMW Sauber,\N,0.0
9,2008,Australian Grand Prix,Timo,Glock,Toyota,\N,0.0

In [10]:
# Rename 'name' column (race name) to 'grand_prix'
merged.rename(columns={'name': 'grand_prix'}, inplace=True)

In [12]:
# Save cleaned dataset with renamed column
merged[['year', 'grand_prix', 'forename', 'surname', 'name_constructor', 'position', 'points']].to_csv('../data/cleaned/f1_cleaned_results.csv', index=False)

In [15]:
results = pd.read_csv(os.path.join(data_path, 'results.csv'), na_values='\\N')

# Load status file
status = pd.read_csv(os.path.join(data_path, 'status.csv'))

# Merge with results to get status description
results_with_status = results.merge(status, on='statusId', how='left')

# Filter rows where position is null
dnf_rows = results_with_status[results_with_status['position'].isnull()]

# Merge with drivers and races for context
dnf_merged = dnf_rows.merge(drivers[['driverId', 'forename', 'surname']], on='driverId', how='left') \
                     .merge(races[['raceId', 'year', 'name']], on='raceId', how='left')

# Show a few examples
dnf_merged[['year', 'name', 'forename', 'surname', 'status']].head(10)

   year                   name forename     surname        status
0  2008  Australian Grand Prix   Robert      Kubica     Collision
1  2008  Australian Grand Prix     Timo       Glock      Accident
2  2008  Australian Grand Prix   Takuma        Sato  Transmission
3  2008  Australian Grand Prix   Nelson  Piquet Jr.        Clutch
4  2008  Australian Grand Prix   Felipe       Massa        Engine
5  2008  Australian Grand Prix    David   Coulthard     Collision
6  2008  Australian Grand Prix    Jarno      Trulli    Electrical
7  2008  Australian Grand Prix   Adrian       Sutil    Hydraulics
8  2008  Australian Grand Prix     Mark      Webber     Collision
9  2008  Australian Grand Prix   Jenson      Button     Collision